.ab {
    margin-left: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.padding {
  padding-top: 5px;
  padding-bottom: 5px;
}    
.card-text {
    text-align: center;
}
.ba {
    color: rgb(44, 115, 230);

}
.d-grid {
    margin-top: 50px;
    
}

@media screen and (max-width:576px) {
    .ab {
        margin-left: 160px;
           font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       
    }
}
