 body {
      background-color: #000;
      color: #fff;
      font-family: Arial, sans-serif;
      height: 100vh;
      margin: 0;
    }
.padding {
  padding-top: 5px;
  padding-bottom: 5px;
}    
